/* Header */
#header { position:fixed; top:0; left:0; background:#808080; margin:0 auto; padding:0; width:100%; height:9%; }

/* Logo */
#logo { padding:10px 5px 10px 15%; height:70%; float:left; }

/* Menu */
#top-nav { padding:10px 15% 10px 5px; float:right; }
#top-nav ul { list-style:none; padding:0; float:left; }
#top-nav ul li { float:left; }
#top-nav ul li a { display:block; margin:0; padding:0px 20px; color:#000000; text-decoration:none; }
#top-nav ul li.active a, #top-nav ul li a:hover { color:#ffffff; }

/* Footer */
#footer { position: fixed; left: 0; bottom: 0; background: #808080; width: 100%; height: 3%; }

/* Footer Text */
#ftText { float: right; padding:0 3% 0 0; margin: 3px 0 0 3px; }

/* Content */
#content { position:fixed; top:9%; left:0; width:100%; height:88%; }


/* Clock Content */

#clock{
    position: relative;
    top:0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/* background */
.bg {
  /* The image used */
  background-image: url("background.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#timestamp { position:absolute; top:26%; width:100%; text-align:center; color: white; line-height: 0.01; }
#hoursContent { font-size: 750%; }
#daysContent{ font-size: 300%; }

#clockButtons{
    position: absolute;
    top: 3%;
    right: 3%;
}

.btn {
    width: 165px;
    height: 30px;
}


/* World Clock Content */




/* Timer Content */

.timerdivHorizontal {
    position: absolute;
    width: 100%;
    height: 25%;
    background: #EAEAEA;
    top: 10%
}

.timerdivVertical {
    position: absolute;
    width: 23.3%;
    height: 100%;
    left: 15%;
    background: #EAEAEA;
    z-index: -1;
}

.timerdivSelected {
    background: #d9d9d9;
}

#countdown {
    position: absolute;
    width: 23.3%;
    height: 100%;
    left: 15%;
}

#alarm {
    position: absolute;
    width: 23.3%;
    height: 100%;
    left: 38.3%;
}

#stopwatch {
    position: absolute;
    width: 23.3%;
    height: 100%;
    right: 15%;
}

.content {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
}

.verticalContent {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    font-size: 400%;
    text-align: center;
}

.timerInput{
    height: 21%;
    width: 21.5%;
    text-align: center;
    font-size: 150%;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Notes Content */

#txtArea {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 75%;
    width: 90%;
    font-size: medium;
}

#notesButtons{
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 90.5%;
}

.save {
    position: absolute;
    right: 0;
}